@import '../../styles/palette.scss';

@import '../../styles/palette.scss';

.comic {
  color: $font-color;

  &-wrapper {
    background-color: $black-background;
  }

  &__image {
    padding-right: 10px;
  }
}

.comic-meta {
  letter-spacing: 1px;

  &__name {
    font-size: 26px;
    letter-spacing: 1;
    margin: 0 auto 20px 0;
    padding: 0;
    line-height: 1;
  }

  &__publisher {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
  }

  &__date {
    font-size: 14px;
    margin-bottom: 30px;
  }

  &__writers {
    margin: 20px 0 !important;
    & h2 {
      font-size: 20px;
    }

    & .left {
      padding-left: 0 !important;
    }

    & .right {
      float: right;
    }
  }

  & p {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1px;
    font-weight: 400;
  }

  & a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: $font-color;

  }

  & i {
    color: $marvel-red;
    margin-left: 5px;
  }
}
